<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% if @nombre != nil || @nombre != "" %>
        <h1>  Hola <%= @nombre %>! </h1>
      <% else %>
        <h1> "Hola desconocido!" </h1>
    <%end%>
  </body>
</html>
