<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Mi cuenta es: <%=@num%></h1>

    <form action="/" method="get">
     <input type="hidden" name="num" value="<%= @num %>" />
     <input type="submit" value="Suma"/>
    </form>
  </body>
</html>
