<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Abuela Sorda</h1>

    <p>Di algo abuela:</p>
    <form action="/new" method="post">
      <input type="text" name="name">
      <input type="submit" value="Dilo!"/>
    </form>
  </body>
</html>
